* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    background-color: rgb(235, 225, 235);
}
header {
    text-align: center;
    width: 100vw; 
    background-size: cover;    
}
nav {
    text-align: center;
    padding: 25px;;
}
.header-container {
    position: relative;
    text-emphasis: center;
    color: white;
}
.centered {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered2 {
    font-size: 20px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}


p {
    text-align: center;
}

ul {
    text-align: center;
}

style {
    text-align: center;
}

h1 {
    padding: 25px
}
h2 {
    text-align: center;
}
h3 {
    padding: 25px;
    text-align: center;
}
section {
    text-align: center;
}
.skills {
    padding: 25px;;
}

#container {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 100px;
}
#footer {
    background-color: black;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    color: white;
    text-align: center;
    
}